:root {
  --primary-color: #ffffff;
  --text-color: #000000;
}

/*Font Classes for Playfair Display font*/
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}
/*End of Playfair Display classes*/

/*Font Classes for Poppins font*/
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}
/*End of Poppins classes*/

.container {
  display: flex;
  border-radius: 5px;
  padding: 10px;
}

.box {
  padding: 10px;
  border-radius: 5px;
}

#site-title {
  font-family: "Playfair Display", "Times New Roman";
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: 5px;
  align-content: center;
}

#subtitle {
  font-family: "Poppins", "Arial";
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
}